<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handlebars</title>
    <link type="text/css" rel="stylesheet" href="final.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .inner2{
        color:red;
    }
</style>
<body>
<div class="outer container-fluid" >
    <div class="row">
        <div class="inner1 col-6"></div>
        <div class="inner2 col-6">
            <div class="topheading">Book Information</div>
            <div align="center">
                <img class="picture" src="{{data.volumeInfo.imageLink.thumbnail}}" alt="Book photo">
            </div>
            <div class="titles">
            <div class="heading">Title:</div>
            <div class="info">{{data.volumeInfo.title}} <br></div>
            </div>
            <div class="titles">
            <div class="heading">Authors:</div>
            <div class="info">{{#each data.volumeInfo.authors}}
                {{this}}<br>
            {{/each}}
            </div>
            </div>
            <div class="titles">
            <div class="heading">Publisher:</div>
            <div class="info">{{data.volumeInfo.publisher}}({{data.volumeInfo.publishedDate}})<br></div>
            </div>
            <div class="titles">
            <div class="heading">Description:</div>
            <div class="info">{{data.volumeInfo.description}}<br></div>
            </div>
            <div class="titles">
            <div class="heading">Genres:</div>
            <div class="info">{{data.volumeInfo.categories.[0]}}<br></div>
            </div>
            <div class="titles">
            <div class="heading">Preview Link:</div>
            <div class="info"><a href="{{data.volumeInfo.previewLink}}" target="_blank">Click here</a><br></div>
            </div>
                <!--<button>View pdf</button><br>-->



        </div>
    </div>
</div>
</body>
</html>

